<!-- Loop over each object in the projects array -->

<link rel="stylesheet" href="/css/style.css">

{{#each projects as |project| }}
<div class="row mb-4 project post-wrapper">
  <div class="row col-12 d-flex justify-space-between post-title">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-12 post-description">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}
